# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
.venv/
venv/
env/
bin/
lib/
pyvenv.cfg

# PyCharm / IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Docker volumes
docker-data/

.env
node_modules/

qdrant_data/